@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<div style="grid-area: 1/1/6/2;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; overflow: hidden;">
        <div id="tacticsCanvasContainer"
             style="
            aspect-ratio: 3 / 2;
            width: 100%;
            max-height: 100vh;
            height: auto;
            max-width: calc(100vh * (3 / 2));
        ">
        </div>
    </div>
</div>
