<div id="MapSelectionDiv">
    <MudSelect T="string" Label="Maps" ValueChanged="MapChanged">
        @foreach (var map in maps)
        {
            <MudSelectItem Value="@map">@map</MudSelectItem>
        }
    </MudSelect>
</div>