<MudPaper>
    <MudIconButton Icon="@Icons.Material.Filled.ZoomOut" @onclick="() => SetZoom(zoomLevel - 0.1f)"></MudIconButton>
    <span>@zoomLevel.ToString("0.0")x</span>
    <MudIconButton Icon="@Icons.Material.Filled.ZoomIn" @onclick="() => SetZoom(zoomLevel + 0.1f)"></MudIconButton>
</MudPaper>
